.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgb(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    padding-top: 0.5rem;
}

.modal_body {
    width: 400px;
    height: 360px;
    border-radius: 5px;
    background: white;
    margin-top: 190px;
    padding-left: 30px;
}

h3 {
    font-size: 50px;
}
p {
    font-size: 20px;
}
.bt_cl, .bt_op {
    text-align: center;
    font-size: 22px;
    border-radius: 15px;
    padding: 10px 25px;
    cursor: pointer;
    margin: 20px 0 !important;
    transition: all 0.05s ease-in-out;
    background-color: #e63946 !important;
    color: #fff;
    border: 1px solid #e63946 !important;
}
.bt_op {
    background-color: #e6af39 !important;
    border: 1px solid #E6AF39FF !important;
}